body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(28%, #bfbffd), color-stop(92%, #fac6ce));
  background-image: linear-gradient(0deg, #bfbffd 28%, #fac6ce 92%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1 {
  color: #666666;
}

body .music-container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 10px 0 #fdbac6;
          box-shadow: 0 10px 10px 0 #fdbac6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  margin: 100px 0;
  position: relative;
  z-index: 10px;
}

body .music-container .img-container {
  position: relative;
  width: 110px;
}

body .music-container .img-container img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(deg);
            transform: rotate(deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(deg);
            transform: rotate(deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .music-container .navigation {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

body .music-container .navigation button {
  background-color: #fff;
  color: #b9b9b9;
  border: 0;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  margin: 0 20px;
}

body .music-container .navigation .fa-play, body .music-container .navigation .fa-pause {
  font-size: 30px;
}

body .music-container .navigation button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

body .music-container .music-info {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  left: 0;
  left: 20px;
  width: calc(100% - 210px);
  padding: 10px 10px 10px 150px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  z-index: 0;
}

body .music-container .music-info h4 {
  margin: 0px;
}

body .music-container .music-info .progress-container {
  background-color: #e0dada;
  border-radius: 5px;
  width: 100%;
  height: 4px;
  margin: 10px 0;
  cursor: pointer;
}

body .music-container .music-info .progress-container .progress {
  background-color: #f58fa0;
  width: 0%;
  border-radius: 5px;
  height: 100%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

body .music-container.play .img-container img {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

body .music-container.play .music-info {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */